configure
config.log
config.status
Makefile
easel
/TAGS
*.o
*.dSYM
*.stamp
src/*_example
src/*_example?
src/*_utest
src/*_benchmark
src/*_stats
src/impl
src/impl*/*_example
src/impl*/*_utest
src/impl*/*_benchmark
documentation/userguide/copyright.tex
documentation/userguide/titlepage.tex
documentation/userguide/titlepage_daemon.tex
documentation/man/*.man
src/libhmmer.a
src/p7_config.h
src/itest_brute
src/bathalign
src/bathbuild
src/bathconvert
src/bathfetch
src/bathsearch
src/bathstat
